<!DOCTYPE html>
<html ng-app='BindingApp'>
<head>
    <meta charset="utf-8">
    <script src="./../js/angular-1.8.1/angular.min.js"></script>
        <script src="./../js/w2/binding.js"></script>
    <style type="css/text">
        p { display: block; margin: 0 0 0.2em;}
    </style>
    <title>Yaakov Chaikin: Angular JS Practice - Biding</title>
</head>
<body>
    <h1>2-way, 1-way, and 1-time binding</h1>
    <div ng-controller='BindingController'>

        <button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
        <button ng-click="setFullName()">Set Full Name</button><br>

        Full name is: {{ :: fullName }} <br>
        <button ng-click="logFirstName()">Log First Name</button><br>
        <button ng-click="logFullName()">Log Full Name</button><br>

        <div>
        <input type="text" ng-model="firstName">
        </div>
    </div>
</body>
</html>
